
{% extends 'Base.html' %}
{% load static %}
{% block title %}contact{% endblock title %}
      <!-- contact section start -->
      {% block banner_slider %}
      <div class="contact_section layout_padding margin_90">
         <div class="container">
            <h1 class="contact_taital">À propos de nous</h1>
            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">

                     
                     <div class="icon_main">                                                      
                        <!--<div class="icon_7"><img src="{% static 'images/icon-7.png' %}"></div>-->
                         <h2>Nous sommes une équipe d'élèves ingénieurs en Cybersécurité et Confiance Numérique formée de Hamza Mouisset, Amine Lachgur, Oussama Laghfiri et Walid Aubouhan. Nous avons créer cette application web pour notre projet de developpemnt WEB.</h2>
                     </div>
                     <!--<div class="icon_main">-->
                     <!--   <div class="icon_7"><img src="{% static 'images/icon-5.png' %}"></div>-->
                     <!--   <h4 class="diabetes_text">Obstetrics and Gynsecology</h4>-->
                     <!--</div>-->
                     <!--<div class="icon_main">-->
                     <!--   <div class="icon_7"><img src="{% static 'images/icon-6.png' %}"></div>-->
                     <!--   <h4 class="diabetes_text">Surgical and medical Oncology</h4>-->
                     <!--</div>-->
                  </div>
                  
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endblock banner_slider %}
      <!-- contact section end -->
      <!-- footer section start -->
     