
{% extends 'Base.html' %}
{% load static %}
{% block title %}signup{% endblock title %}
{% block banner_slider %}
<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
            <h2 class="sgnup">S'enregistrer</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">Prénom:</label>
                    <input type="text" class="form-control" id="first_name" placeholder="Saisir Prénom"
                        name="first_name">
                </div>
                <div class="form-group">
                    <label for="last_name">Nom:</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Saisir Nom"
                        name="last_name">
                </div>
                <div class="form-group">
                    <label for="username">Nom d'utilisateur:</label>
                    <input type="text" class="form-control" id="username" placeholder="Saisir nom d'utilisateur" name="username">
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="email" placeholder="Saisir email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd1">Mot de passe:</label>
                    <input type="password" class="form-control" id="pwd1" placeholder="Saisir mot de passe" name="password1">
                </div>
                <div class="form-group">
                    <label for="pwd2">Confirmer le mot de passe:</label>
                    <input type="password" class="form-control" id="pwd2" placeholder="Resaisir mot de passe"
                        name="password2">
                </div>
                <button type="submit" class="btn3">Valider</button>
            </form>
        </div>
    </div>
</div>
{% endblock banner_slider %}